#include <windows.h>
#include "version.h"

1 VERSIONINFO
FILEVERSION    PROG_VERSION_MAJOR,PROG_VERSION_MINOR,0,0
PRODUCTVERSION PROG_VERSION_MAJOR,PROG_VERSION_MINOR,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT
FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileVersion", PROG_VERSION_STRING
			VALUE "FileDescription", PROG_NAME
			VALUE "ProductName", PROG_NAME
			VALUE "OriginalFilename", PROG_NAME ".exe"
			VALUE "LegalCopyright", PROG_COPYRIGHT
			VALUE "Comments", PROG_URL
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
